<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
          </li>
          <p>{{- site.description | escape -}}</p>
        </ul>
        <p>Socials:</p>
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        <p>Initiatives</p>
        <ul class="footer-content">
        {%- for init in site.initiatives -%}
          <li><a href="{{init.url}}">{{ init.title }}</a></li>
        {%- endfor -%}
        {%- if site.initiatives.size == 0 -%}
          <p class="contact-list">nothing here yet...</p>
        {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Posts</p>
        <ul class="footer-content">
        {%- for post in site.posts -%}
          <li><a class="contact-list" href="{{post.url}}">{{ post.title }}</a></li>
        {%- endfor -%}
        {%- if site.posts.size == 0 -%}
          <p class="contact-list">nothing here yet...</p>
        {%- endif -%}
        </ul>

      </div>
      <div class="footer-col">
        <p>Sign up for our mailing list</p>
        {% include contact-form.html %}
      </div>
    </div>

  </div>

</footer>
