---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
    <img class="post-header-image" src="/assets/{{page.image}}">
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- assign initiative_cat = page.id | split: "/" | last -%}

  {% for tag in site.categories %}
    {% if tag[0] == initiative_cat %}
    <h1>Related Posts</h1>
    <ul class="post-list">
      {% for post in tag[1] %}
        {% include list-block.html categories=post.categories excerpt=post.excerpt title=post.title %}        
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>